### ANÁLISE DO CONSUMO DE ÁLCOOL NO MUNDO

O consumo excessivo de álcool é um problema grave de saúde pública, você não acha? Imagine que você é um cientista de dados trabalhando em uma equipe da Organização Mundial da Saúde (OMS), cujo objetivo é desenvolver relatórios sobre o consumo de álcool no mundo. Tudo certo até aqui? Então, vamos continuar!

Foram coletados dados de diferentes países, indicando o consumo de cerveja (beer), licor (spirit) e vinho (wine), e o consumo de litros de álcool por pessoa do país no ano de 2010. Seu trabalho, então, é responder a algumas perguntas sobre os dados que irão ajudar a compor o relatório. Vamos lá?

1. Qual a média e desvio padrão do consumo de cerveja, licor, vinho e total de álcool?
2. Qual o consumo de licor na França?
3. Quais os 5 países nos quais se consome mais vinho?
4. Quais os países nos quais o consumo de cerveja está acima da média?
5. Quais países nos quais o consumo total de álcool está acima do Brasil, em ordem do menor para o maior?

#### Carregando os Dados

In [1]:
import pandas as pd

In [2]:
df = pd.read_table('drinks.txt', sep=',')

In [3]:
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9

<font color=blue>**1. Qual a média e desvio padrão do consumo de cerveja, licor, vinho e total de álcool?**</font>

**R:** Para responder a este questionamento, utilizando o método describe obtem-se todas as estatíticas descritivas da base de dados em questão. Pode-se então utilizar o .loc para obter apenas as linhas referente a média e ao desvio padrão dos dados.

In [4]:
df.describe().loc[['mean', 'std']]

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298

<font color=blue> **2. Qual o consumo de licor na França?**</font>

**R:** Há várias maneiras de obter a resposta para essa pergunta. As 3 células a seguir apresentam 3 maneiras distintas de obter o mesmo resultado.

In [5]:
df.loc[df['country'] == 'France', 'spirit_servings']

61    151
Name: spirit_servings, dtype: int64

In [6]:
df[df['country'] == 'France']['spirit_servings']

61    151
Name: spirit_servings, dtype: int64

In [7]:
df['spirit_servings'][df['country'] == 'France']

61    151
Name: spirit_servings, dtype: int64

<font color=blue>**3. Quais os 5 países nos quais se consome mais vinho?** </font>

**R:** O método *sort_values* ordena os dados considerando alguma coluna como referência (utilizando o atributo *by*) em ordem crescente de valor. Para alterar para ordem descrescente, é necessário modificar o atributo *ascending* que por *default* é False para True. As 3 células a seguir apresentam maneiras distintas de responder o mesmo questionamento.

In [8]:
df.sort_values(by='wine_servings', ascending=False).head(5)['country']

61          France
136       Portugal
3          Andorra
166    Switzerland
48         Denmark
Name: country, dtype: object

In [9]:
df.sort_values(by='wine_servings', ascending=False)['country'].head(5)

61          France
136       Portugal
3          Andorra
166    Switzerland
48         Denmark
Name: country, dtype: object

In [10]:
df.sort_values(by='wine_servings', ascending=False).country.head()

61          France
136       Portugal
3          Andorra
166    Switzerland
48         Denmark
Name: country, dtype: object

<font color=blue>**4. Quais os países nos quais o consumo de cerveja está acima da média?**</font>

**R:** Para responder a esse questionamento, é realizado um filtro que inicialmente filtra todos os dados cujo valor do consumo de cerveja é maior que a média e posteriormente, apenas os nomes dos registros são retornados. As duas células a seguir apresentam 2 maneiras equivalentes de obter o mesmo resultado.

In [11]:
pd.options.display.max_rows = None #Comando para apresentar todas as linhas da filtragem, sem limite de linhas
df[df.beer_servings > df.beer_servings.mean()].country

3                           Andorra
4                            Angola
6                         Argentina
8                         Australia
9                           Austria
11                          Bahamas
14                         Barbados
15                          Belarus
16                          Belgium
17                           Belize
20                          Bolivia
22                         Botswana
23                           Brazil
25                         Bulgaria
29                       Cabo Verde
31                         Cameroon
32                           Canada
35                            Chile
37                         Colombia
41                       Costa Rica
42                          Croatia
44                           Cyprus
45                   Czech Republic
48                          Denmark
51               Dominican Republic
52                          Ecuador
57                          Estonia
60                          Finland
61                           France
62                            Gabon
65                          Germany
67                           Greece
68                          Grenada
75                          Hungary
76                          Iceland
81                          Ireland
87                       Kazakhstan
93                           Latvia
98                        Lithuania
99                       Luxembourg
105                           Malta
109                          Mexico
117                         Namibia
120                     Netherlands
121                     New Zealand
125                            Niue
126                          Norway
129                           Palau
130                          Panama
132                        Paraguay
133                            Peru
135                          Poland
136                        Portugal
138                     South Korea
139                         Moldova
140                         Romania
141              Russian Federation
143               St. Kitts & Nevis
144                       St. Lucia
145    St. Vincent & the Grenadines
151                          Serbia
152                      Seychelles
155                        Slovakia
156                        Slovenia
159                    South Africa
160                           Spain
163                        Suriname
165                          Sweden
166                     Switzerland
174               Trinidad & Tobago
180                         Ukraine
182                  United Kingdom
184                             USA
185                         Uruguay
188                       Venezuela
189                         Vietnam
Name: country, dtype: object

In [12]:
df.loc[df['beer_servings'] > df['beer_servings'].mean(), 'country']

3                           Andorra
4                            Angola
6                         Argentina
8                         Australia
9                           Austria
11                          Bahamas
14                         Barbados
15                          Belarus
16                          Belgium
17                           Belize
20                          Bolivia
22                         Botswana
23                           Brazil
25                         Bulgaria
29                       Cabo Verde
31                         Cameroon
32                           Canada
35                            Chile
37                         Colombia
41                       Costa Rica
42                          Croatia
44                           Cyprus
45                   Czech Republic
48                          Denmark
51               Dominican Republic
52                          Ecuador
57                          Estonia
60                          Finland
61                           France
62                            Gabon
65                          Germany
67                           Greece
68                          Grenada
75                          Hungary
76                          Iceland
81                          Ireland
87                       Kazakhstan
93                           Latvia
98                        Lithuania
99                       Luxembourg
105                           Malta
109                          Mexico
117                         Namibia
120                     Netherlands
121                     New Zealand
125                            Niue
126                          Norway
129                           Palau
130                          Panama
132                        Paraguay
133                            Peru
135                          Poland
136                        Portugal
138                     South Korea
139                         Moldova
140                         Romania
141              Russian Federation
143               St. Kitts & Nevis
144                       St. Lucia
145    St. Vincent & the Grenadines
151                          Serbia
152                      Seychelles
155                        Slovakia
156                        Slovenia
159                    South Africa
160                           Spain
163                        Suriname
165                          Sweden
166                     Switzerland
174               Trinidad & Tobago
180                         Ukraine
182                  United Kingdom
184                             USA
185                         Uruguay
188                       Venezuela
189                         Vietnam
Name: country, dtype: object

<font color=blue>**5. Quais países nos quais o consumo total de álcool está acima do Brasil, em ordem do menor para o maior?**</font>

**R:** Para responder este questionamento, a resposta será dividida para tornar mais compreensível todo o processo. Primeiramente, será identificado o total de litros de álcool consumido apenas pelo Brasil, em seguida serão filtrados apenas os países cujo consumo seja maior que esse valor. Observe que o resultado da primeira célula é uma série com apenas um valor, para obter apenas o valor inteiro dessa série, utilize o *.values[0]*.

In [13]:
total_litres_brazil = df.loc[df['country'] == 'Brazil', 'total_litres_of_pure_alcohol']

In [14]:
df[df['total_litres_of_pure_alcohol']>total_litres_brazil.values[0]].country

3                 Andorra
6               Argentina
8               Australia
9                 Austria
15                Belarus
16                Belgium
25               Bulgaria
32                 Canada
35                  Chile
42                Croatia
44                 Cyprus
45         Czech Republic
48                Denmark
57                Estonia
60                Finland
61                 France
62                  Gabon
65                Germany
67                 Greece
68                Grenada
75                Hungary
81                Ireland
93                 Latvia
98              Lithuania
99             Luxembourg
120           Netherlands
121           New Zealand
124               Nigeria
132              Paraguay
135                Poland
136              Portugal
138           South Korea
140               Romania
141    Russian Federation
143     St. Kitts & Nevis
144             St. Lucia
151                Serbia
155              Slovakia
156              Slovenia
159          South Africa
160                 Spain
166           Switzerland
179                Uganda
180               Ukraine
182        United Kingdom
184                   USA
188             Venezuela
Name: country, dtype: object